body{
  background-color: rgb(13, 75, 62);
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 400px;
}

.register-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 5px;
  width: 350px;
  height: 350px;
  background-color: #c9a654;
}
.form-container input{
  height: 40px;
  width: 300px;
  background-color: rgb(165, 97, 228);
  padding-left: 20px;
  margin-left: 12px;
}

::placeholder{
  color: rgb(225, 231, 231);
}

button{
  height: 40px;
  width: 325px;
  background-color: rgb(132, 241, 143);
  margin-left: 12px;
}

.registerging-message{
  height: 40px;
  width: 300px;
  background-color: rgb(213, 26, 26);
  padding-left: 20px;
  margin-left: 12px;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

span{
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  margin-left: 12px;
}